.NodeContent {
	font-family: Verdana;
	font-size: small;
}

.Node, .NodeCollapsed {
	position:absolute;
	background-color: #8FADFF;
	border: 2px solid black;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	overflow:hidden;
}


.NodeLine {
	background-color: #000066;
	position: absolute;
	overflow: hidden;
}

.Container {
  position: absolute;
  top: 100px;
  left: 50px;
}
